modules = ["web", "nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "glibcLocales", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "rustc", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34457
externalPort = 6000

[[ports]]
localPort = 35785
externalPort = 3002

[[ports]]
localPort = 41491
externalPort = 3001

[[ports]]
localPort = 43709
externalPort = 5173

[[ports]]
localPort = 43789
externalPort = 3003

[[ports]]
localPort = 44445
externalPort = 3000
